@import "common/shared.css";
@import "common/variables.css";

.wrapper{
    padding: 2.5rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2.5rem;
    background-color: var(--container-Bg);
}

.feature {
    display: flex;
    margin: 1.25rem 0;
}

.feature img {
    float: left;
    width: 80%;
    border-radius: 0.3125rem;
}

.explore {
    padding: 1.5625rem;
    background-color: white;
    border-radius: 0.3125rem;
    box-shadow: var(--container-box-shadow);
}

.explore-header{
    display: block;
    font-size: 1.3125rem;
    color: var(--category-titleColor);
}

.category-container{
    display: flex;
    border-radius: 0.3125rem;
    align-items: center;
    justify-content: space-around;
}

.category {
    /* align-items: center;
    justify-content: center; */
    padding: 1.25rem;
    width: 8.75rem;
    display: inline;
    justify-content: space-around;
    text-overflow: ellipsis;
    transition: transform .2s;
}

.category img{
    width: 5rem;
    margin: 0 auto;
    cursor: pointer;
}

.category p{
    text-align: center;
    width: 5rem;
    cursor: pointer;
}


.fresh-finds {
    padding: 1.5625rem;
    background-color: white;
    border-radius: 0.3125rem;
    box-shadow: var(--container-box-shadow);
}

.fresh-finds-header{
    display: block;
    font-size: 1.3125rem;
    color: var(--product-titleColor);
}

.product-list{
    border-radius: 0.3125rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    padding: 0 1.25rem;
    flex-wrap: wrap;
    margin-top: 0.625rem;
    justify-content: center;
}


.product-list-noresult{
    border-radius: 0.3125rem;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 28.4375rem;
    margin-top: 0.625rem;
}

.product-list-noresult-inner{
    display: block;
    min-height: 15.9375rem;
}

.product-list-noresult img{
    align-self: center;
    width: 100%;
    padding: 0 12.5rem;
}

.noresult-text{
    padding-top:1.5625rem;
    text-align: center;
}

.product{
    height: 28.125rem;
    width: min-content;
    display: inline;
    align-items: center;
    padding: 1.25rem;
    border-radius: 0.5rem;
    transition: transform .2s;
}

.product:hover {
    transform: scale(1.02);
}

.product:hover,
.category:hover {
    box-shadow: 0 0 0.0625rem 0 #dad4d4, inset 0 0 0 0.0625rem rgb(44 44 45 / 7%);
    cursor: pointer;
    background-color: var(--product-hoverColor);
}

.product-header{
    display: flex;

}

.product-header img {
    width: 3.125rem;
    height: 3.125rem;
    display:inline;
    border-radius: 2.1875rem;
    filter: opacity(80%) brightness(80%);
}

.product-header-sub{
    display: inline;
    float: right;
    /* background: lightblue; */
    padding: 0.625rem;
}

.product-header-sub h6 {
    color: var(--product-dateColor);
}

.product-header-sub h6,
.product-header-sub p {
    display:block;
}

.main-img{
    margin: 0.625rem 0;
    background-size: cover;
    background-position:center center;
    background-repeat:no-repeat;
    width: 15.625rem;
    height: 13.75rem;
    border-radius: 0.3125rem;
}

.product-img{
    width: 15.625rem;
    height: 13.75rem;
}

.product-details h6{
    padding: 0.1875rem;
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-details p{
    padding: 0.1875rem;
    font-size: 0.875rem;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* increase limit lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--product-detailColor);
}

.product-name {
    padding: 0.1875rem;
    font-weight: bold;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--product-nameColor);
}

.product-details h6{
    font-size: 0.875rem;
    color: #15131d;
}


.new-tag{
    background: #0062c7;
    padding: 0.3125rem;
    font-size: 0.625rem;
    color:white;
    border-radius: 0.3125rem;
    width:min-content;
    margin-top: 0.625rem;
    font-weight: bold;
}

.bottom-end{
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    background: white;
    padding-bottom: 1.25rem;
}

.bottom-end button{
    margin: 0 auto;
    width: 6.875rem;
    height: 2.375rem;
    font-size: 1rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid black;
    background: white;

}
