@import "common/shared.css";

*{
    margin: 0;
    padding: 0;
}

.wrapper{
    padding: 0px 80px;
}

.feature {
    display: flex;
    margin: 20px 0px;
}

.feature img {
    float: left;
    width: 80%;
    border-radius: 5px;
}

.explore {
    margin-top:20px;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--container-shadow);
}

.explore-header{
    display: block;
    font-size: 21px;
}

.category-container{
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
}
.category{
    /* align-items: center;
    justify-content: center; */
    padding: 20px;
    width: 140px;
    display: inline;
    justify-content: space-around;
    text-overflow: ellipsis;
    
}

.category img{
    width: 80px;
    margin: 0 auto;
    cursor: pointer;
}

.category p{
    text-align: center;
    width: 80px;
    cursor: pointer;
}


.fresh-finds {
    padding: 25px;
    background-color: white;
    margin: 20px 0px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--container-shadow);
}

.fresh-finds-header{
    display: block;
    font-size: 21px;
}

.product-list{
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 0 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}


.product-list-noresult{
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 455px;
    margin-top: 10px;
}
.product-list-noresult-inner{
    display: block;
    min-height: 255px;
}
.product-list-noresult img{
    align-self: center;
    width: 100%;
    padding: 0 200px;
}

.noresult-text{
    padding-top:25px;
    text-align: center;
}

.product{
    height: 450px;
    /* width: 250px; */
    width: min-content;
    display: inline;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

.product:hover{
    box-shadow: 0px 0px 5px var(--container-shadow);
    cursor: pointer;
}
.product-header{
    display: flex;

}
.product-header img{
    width: 50px;
    height: 50px;
    display:inline;
    border-radius: 35px;
}

.product-header-sub{
    display: inline;
    float: right;
    /* background: lightblue; */
    padding: 10px;
}

.product-header-sub h6,.product-header-sub p {
    display:block;
}
.main-img{
    margin: 10px 0px;
    background-size: cover;
    background-position:center center; 
    background-repeat:no-repeat; 
    width: 250px;
    height: 220px;
    border-radius: 5px;
    

}
.product-img{
    width: 250px;
    height: 220px;
}

.product-details h6{
    padding: 3px;
    height: 18px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-details p{
    padding: 3px;
    height: 55px;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* increase limit lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #444444;
}

.product-name{
    padding: 3px;
    font-weight: bold;
    height: 18px;
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.product-details h6{
    font-size: 14px;
    color: #15131d;
}


.new-tag{
    background: #0062c7;
    padding: 5px;
    font-size: 10px;
    color:white;
    border-radius: 5px;
    width:min-content;
    margin-top: 10px;
}

.bottom-end{
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    background: white;
    padding-bottom: 20px;
}

.bottom-end button{
    margin: 0 auto;
    width: 110px;
    height: 38px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid black;
    background: white;

}
