.history-container {
  margin: 20px auto;
  /* border-radius:  5px; */
  /* border: 1px solid rgb(151, 184, 211); */
  /* background: red; */
  width: 1000px;
}

.history-header{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.title{
  font-size: 24px;
  font-weight: bold;
}

.back{
  font-size: 18px;
  color: rgb(49, 89, 180);
  text-decoration: underline;
  cursor: pointer;
}