@import "common/shared.css";

.container {
    min-height: 110vh;
    min-width: 992px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    background: #ffffff;
}

.container b, strong {
    color: #0062c7;
    font-weight: 600;
}

.container i, em {
    color: #0062c7;
}

.container u, underline {
    color: #0062c7;
    text-decoration: underline;
}

.p-container a, a:active, a:visited {
    text-decoration: none;
}

.p-container {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0 24px 88px;
    padding: 104px 64px 0px;
    min-width: 992px;
    background-color: #fff;
    -webkit-box-flex: 1;
    flex: 1;
}

.p-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    min-width: 992px;
}

.p-nav-container {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #f0f1f1;
    margin: 0 -24px;
}

.p-nav-margin {
    min-width: 320px;
}

.p-nav-links-container {
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.p-nav-links {
    display: flex;
    overflow-x: auto;
}

.p-nav-links-a {
    color: #0062c7;
    text-decoration: none;
    border-bottom: 2px solid var(--accent);
    cursor: pointer;
    padding: 20px 0;
    margin: 0 16px;
    text-align: center;
}

.p-nav-links a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    padding: 20px 0;
    margin: 0 16px;
    text-align: center;
}

.p-body {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
}

/* Profile Sidebar */

.p-sidebar {
    -webkit-box-flex: 0;
    flex: 0 0 324px;
    width: 324px;
    padding-right: 24px;
    margin-top: -112px;
}

.p-icon-container {
    position: relative;
}

.p-icon-container img {
    border: 3px solid #c4d5e4;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    background-color: #bebebe;
}

.p-sidebar h2 {
    font-weight: 400;
    margin-bottom: 5px;
}

.p-sidebar h3 {
    font-weight: 400;
    font-size: 14pt;
    margin-bottom: 10px;
}

.p-sidebar p {
    font-size: 11pt;
}

.p-nav-links a, .p-nav-links a:active {
    color: #000;
    text-decoration: none;
}

.p-nav-link a:hover, .p-nav-links a:visited {
    color: var(--accent);
    text-decoration: none;
}

/* Profile Reviews */

.p-items-container {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: calc(100% - 508px);
    padding-top: 24px;
}

.p-items-container h1 {
    font-size: 24pt;
    margin-bottom: 30px;
}

.p-items-container h3 {
    font-size: 20pt;
    font-weight: 600;
}

.p-items-container .button {
    background-color: #1d9b4d;
    border: none;
    color: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 0.2em;
    transition: .3s;
}

.p-edit-review {
    position: relative;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-flow: column nowrap;
    width: 10%;
}

.p-items-container .button:hover {
    background-color: #006a0e;
    cursor: pointer;
}

.p-items-content {
    padding-bottom: 20px;
    box-shadow: 0px 0px 5px var(--container-shadow);
    border-radius: 5px;
}

.p-items-head {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 24px 32px 8px;
}

.p-reviews-body {
    padding: 24px;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    max-height: 65vh;
}

.p-reviews-box {
    padding-left: 16px;
}

.p-review {
    padding: 20px 16px 20px 0;
    border-bottom: 1px solid #f0f1f1;
    width: 98%;
}

.p-review-container {
    display: flex;
}

.p-reviewer-img-container {
    position: relative;
}

.p-reviewer {
    width: 50px;
    height: 50px;
    background: #f0f1f1;
    border-radius: 50%;
    position: relative;
    display: block;
    overflow: hidden;
}

.p-reviewer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.p-reviewer-info-container {
    -webkit-box-flex: 1;
    flex: 1;
    margin-left: 0;
}

.p-reviewer-info {
    -webkit-box-flex: 1;
    flex: 1;
    margin-left: 16px;
}

.p-reviewer-name {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.p-reviewer-ratings {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.p-review-body {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    white-space: normal;
    word-break: normal;
    overflow-wrap: normal;
    text-decoration: none;
    hyphens: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.checked {
    color: #006bc6;
}

.space {
    margin-right: 10px;
}