@import "common/shared.css";

.container {
    height: 95vh;
    padding: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background: #d5ddeb;
    background: -webkit-linear-gradient(to bottom, #d5ddeb, #adbfe0);
    background: linear-gradient(to bottom, #d5ddeb, #adbfe0);
    background-repeat: no-repeat;
}

h1 {
    color: rgb(145, 123, 1);
}