.chatBox_container {
    display: flex;
    width: 100%;
    padding: 1rem 2vw;
}

.chatBox_container.sender {
    justify-content: flex-end;
}

.chatBox_container.receiver {
    justify-content: flex-start;
}

.chatBox {
    padding: 0.5rem;
    max-width: 45%;
    border-radius: 1rem;
}

.sender > .chatBox {
    background-color: var(--msg-senderCardBg);
    color: var(--msg-senderCardTextColor);
    text-align: right;
}

.receiver > .chatBox {
    background-color: var(--msg-receiverCardBg);
    color: var(--msg-receiverCardTextColor);
}

.content {
    width: 100%;
    background-color: var(--msg-contentBg);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    height: 100%;
}