.inbox_card {
    min-height: 4rem;
    height: 4rem;
    width: 100%;
    background-color: var(--msg-inboxCard);
    padding: 0.5rem;
    cursor: pointer;
    opacity: 0.85;
}

.inbox_card:hover {
    opacity: 1;
}

.inbox_card p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.inbox_card p:first-child {
    color:var(--msg-inboxCardHeader);
}

.inbox_card p:nth-child(2) {
    text-align: center;
    color:var(--msg-inboxCardContent);
}