:root {
    --button-shadow: 2px 2px 2px 0px #888888;
    --primary-color: rgb(0, 140, 255);
    --radius-button: 0.2rem;
    --radius-input: 0.2rem;
    --global-horizontalPadding: 7.5vw;

    /* Messages */
    --msg-searchFieldColor: black;
    --msg-searchFieldPlaceHolderColor: gray;
    --msg-searchFieldBg: rgb(253, 253, 253);

    --msg-contentHeader: rgb(255, 255, 255);
    --msg-contentBg: rgb(250, 250, 250);
    --msg-senderCardBg: rgb(0, 204, 255);
    --msg-senderCardTextColor: rgb(48, 48, 48);
    --msg-receiverCardBg: rgb(230, 230, 230);
    --msg-receiverCardTextColor: rgb(48, 48, 48);

    --msg-inboxBg: rgb(255, 255, 255);
    --msg-inboxCard: rgb(222, 222, 222);
    --msg-inboxCardHeader: rgb(44, 44, 44);
    --msg-inboxCardTime: rgb(156, 156, 156);
    --msg-inboxCardContent: rgb(83, 83, 83);

    --msg-textFieldColor: rgb(24, 24, 24);
    --msg-textFieldBg: rgb(255, 255, 255);

    --msg-btnColor: rgb(255, 255, 255);
    --msg-btnBgColor: rgb(0, 204, 255);
    /* ./Messages */

    /* text color */
    --category-titleColor: gray;
    --category-itemLabelColor: rgb(48, 48, 48);
    --product-titleColor: gray;
    --product-dateColor: gray;
    --product-nameColor: rgb(73, 73, 73);
    --product-detailColor: gray;
    --product-hoverColor: rgb(205, 226, 231);
    /* ./text color */

    /* Containers */
    --container-box-shadow: 2px 2px 4px #e2e0e0;
    --container-Bg: #F6F5F3;
    /* ./Containers */

    --container-shadow: #c4d5e4;
    --accent: #0062c7;
}