:root {
    --button-shadow: 2px 2px 2px 0px #888888;
    --primary-color: rgb(0, 140, 255);
    --radius-button: 0.2rem;
    --radius-input: 0.2rem;

    /* Messages */
    --msg-searchFieldColor: black;
    --msg-searchFieldPlaceHolderColor: gray;
    --msg-searchFieldBg: white;

    --msg-contentHeader: bisque;
    --msg-contentBg: rgb(245, 245, 245);
    --msg-senderCard: rgb(18, 171, 209);
    --msg-receiverCard: rgb(197, 181, 173);

    --msg-inboxBg: rgb(201, 198, 160);
    --msg-inboxCard: rgb(204, 204, 204);
    --msg-inboxCardHeader: rgb(44, 44, 44);
    --msg-inboxCardContent: rgb(83, 83, 83);
    /* ./Messages */

    --container-shadow: #c4d5e4;
    --accent: #0062c7;
}